<h2>Current account - summary</h2>

<ul>

  <li>
    <strong>Account number:</strong>
    <%= @current_acc.accountNumber %>
  </li>

  <li>
    <strong>Balance:</strong>
    <%= @current_acc.balance %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @current_acc.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.current_acc_path(@conn, :edit, @current_acc) %></span>
<span><%= link "Back", to: Routes.current_acc_path(@conn, :index) %></span>
